/**
 * Reset from knacss
 *
 */

/* switching box model for all elements */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* soft reset */
html,
body {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
    list-style: none;
}
img {
    height: auto;
    vertical-align: middle;
    border: 0;
}
blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}
audio,
canvas,
video {
    display: inline-block;
}
svg:not(:root) {
    overflow: hidden;
}
html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: -webkit-calc(0.625em);
    font-size: calc(0.625em);
    /* disallow text zooming on orientation change (non standard property) */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    /* set body font-size in em (1.4em equiv "14px") */
    font-size: 1.4em;
}
/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: 0.75em;
    margin-bottom: 0;
    line-height: 1.5;
}

/* Let's style ! */

@font-face {
  font-family: 'Sansation';
  src: url('/resources/fonts/sansation_regular1-webfont.eot');
  src: url('/resources/fonts/sansation_regular1-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/sansation_regular1-webfont.woff') format('woff'),
       url('/resources/fonts/sansation_regular1-webfont.ttf') format('truetype'),
       url('/resources/fonts/sansation_regular1-webfont.svg#caviar_dreamsregular') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Sansation';
  src: url('/resources/fonts/sansation_bold1-webfont.eot');
  src: url('/resources/fonts/sansation_bold1-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/sansation_bold1-webfont.woff') format('woff'),
       url('/resources/fonts/sansation_bold1-webfont.ttf') format('truetype'),
       url('/resources/fonts/sansation_bold1-webfont.svg#caviar_dreamsbold') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Sansation';
  src: url('/resources/fonts/sansation_bold_italic1-webfont.eot');
  src: url('/resources/fonts/sansation_bold_italic1-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/sansation_bold_italic1-webfont.woff') format('woff'),
       url('/resources/fonts/sansation_bold_italic1-webfont.ttf') format('truetype'),
       url('/resources/fonts/sansation_bold_italic1-webfont.svg#caviar_dreamsbold_italic') format('svg');
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Sansation';
  src: url('/resources/fonts/sansation_italic1-webfont.eot');
  src: url('/resources/fonts/sansation_italic1-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/sansation_italic1-webfont.woff') format('woff'),
       url('/resources/fonts/sansation_italic1-webfont.ttf') format('truetype'),
       url('/resources/fonts/sansation_italic1-webfont.svg#caviar_dreamsitalic') format('svg');
  font-style: italic;
  font-weight: 400;
}

/** Global **/
body {
    font-family: 'Sansation', sans-serif;
    color: #FFFFFF;
    background: #222222 url('/resources/images/bg_small.jpg') no-repeat center center;
    background-size: cover;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
a:hover {
    color: #BBBBBB;
}

.global-width {
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 350px) {
    .wrapper {
        width: 350px;
    }
}


/* flexbox layout
Tutorial: http://knacss.com/demos/tutoriel.html#flex */
.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-h {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-v {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-fluid {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-start {
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}
.flex-mid {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}
.flex-end {
    -webkit-order: 42;
    -ms-flex-order: 42;
    order: 42;
}


/** Header **/
header {

}
header .name {
    font-size: 2.5em;
    margin: 0 50px;
}
header .title {
    text-align: center;
    font-size: 3.5em;
    margin-top: 20px;
}
header nav {
    margin-top: 10px;
}
header nav ul {
    text-align: center;
    font-size: 0;
}
header nav li {
    display: inline-block;
    font-size: 14px;
}
header nav li.active {
    border: 1px solid #FFFFFF;
    border-radius: 3px;
}
header nav li::before {
    border-left: 1px solid #999999;
    content: "";
}
header nav li::before {
    border-left: 1px solid #999999;
    content: "";
}
header nav li:first-child::before {
    border-left: 1px solid transparent;
}
header nav li.active::before,
header nav li.active + li::before {
    border: 0 none;
}
header nav a {
    display: inline-block;
    padding: 5px 40px;
    outline: none;
}
@media screen and (max-width: 750px) {
    header .title {
        font-size: 2.5em;
        margin-top: 20px;
    }
}
@media screen and (max-width: 550px) {
    header .title {
        font-size: 1.5em;
    }
}

section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;

    margin-bottom: 40px;
}

section .section-title {
    margin: 0 30px;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

section .section-content {
    margin-top: 90px;
}

section h2,
section .bubble {
    display: inline-block;
    background: white;
    border-radius: 50%;
}

section .bubble {
    width: 30px;
    height: 20px;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
section .bubble + .bubble {
    width: 25px;
    height: 15px;
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
}
section .bubble + .bubble + .bubble {
    width: 10px;
    height: 7px;
    margin-top:110px;
}

section h2 {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

section:nth-child(2n + 1) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

section:nth-child(2n + 1) .section-title {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.jolicode {
    color: #F7D325;
}
.jolicode img {
    height: 20px;
}

.skills { overflow:visible; }
.skills ul { padding:0; }
.skills li {
    list-style:none;
    position:relative;
    display:inline-block;
    width:100px;
    height:100px;
}

.skills li {
    width: 80px;
}

.skills .label {
    display: none;
}

.skills img {
    width: 100%;
}
.skills .symfony img,
.skills .linux img,
.skills .javascript img,
.skills .html img,
.skills .css img {
    width: 80%;
}
