{% extends "layout.html" %}

{% block content -%}
            <div class="line">
                <div class="mod">
                    <section class="site-block error">
                        <header class="block-header">
                            <h1 class="title">Erreur</h1>
                        </header>
                        <div class="block-content">
                            {% block error_content %}{% endblock %}
                        </div>
                    </section>
                </div>
            </div>
{% endblock %}