{{/* Image-only hero for sections and pages; blog posts show their cover below the title instead (see single.html) */}}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if and $featured_image (not (and .IsPage (eq .Section "blog"))) }}
  <header class="cover bg-center" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-60">
      {{ partial "site-navigation.html" . }}
      <div class="pv5 pv6-l"></div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
