{{ define "main" }}
<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
{{ .Content }}
</article>

{{ $sections := where $.Site.Pages ".Kind" "section" }}
{{ range $sections }}
{{ $section := .Section }}
{{ $section_name := .Section | singularize }}

{{/* Check to see if the section is defined for ranging through it */}}
{{ $section_count := len $section }}
{{ if ge $section_count 1 }}

{{ $pages := where $.Site.RegularPages ".Section" $section_name }}

<div class="pa3 pa4-ns w-100 w-70-ns center">
    {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
    {{ with .Site.GetPage "section" $section_name }}
    <h2 class="tc-l">
        {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
    </h2>
    {{ end }}

    {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

    <section class="flex-ns flex-wrap justify-around mt5">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $pages) }}
        <div class="relative w-100 w-30-l mb4 bg-white">
            {{ .Render "summary" }}
        </div>
        {{ end }}
    </section>

    {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
    {{ with .Site.GetPage "section" $section_name }}
    <div class="tc-l">
        <a href="{{ .RelPermalink }}" class="">{{ i18n "allTitle" . }}</a>
    </div>
    {{ end }}
    </section>

</div>
{{ end }}
{{ end }}
{{ end }}
