{{ define "main" }}
<article class="prose ph3 pv3 pv4-l">
{{ .Content }}
</article>

{{ $pages := where .Site.RegularPages "Section" "blog" }}
{{ if $pages }}
<div class="pa3 pa4-ns mw8 center">
    <h2 class="tc f3 mt5 mb0">
        {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
    </h2>

    <section class="post-grid">
        {{ range first ($.Param "recent_posts_number" | default 3) $pages }}
            {{ .Render "summary" }}
        {{ end }}
    </section>

    {{ with .Site.GetPage "section" "blog" }}
    <div class="tc">
        <a href="{{ .RelPermalink }}" class="post-card-more">{{ i18n "allTitle" . }} →</a>
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
