{% extends "layout.html" %}

{% block content -%}
            <div class="grid2 line">
                <section class="mod site-block presentation">
                    <header class="block-header">
                        <h1 class="title">Mon parcours</h1>
                    </header>
                    <div class="block-content">
                        <p>
                            J'ai débuté dans le web en 2010. J'ai conçu à l'époque un logiciel pour Windows pour s'auto-entraîner sur du vocabulaire
                            anglais. Plusieurs de mes amis le trouvaient utile. Je voulais donc créer un site pour promouvoir ce logiciel et le partager.
                            J'ai utilisé un logiciel wysiwyg, avant de me rendre compte que le code généré n'était, disons... pas très propre.
                            J'ai alors décidé de coder le site moi-même.
                        </p>
                        <p>
                            Cet entraînement m'a donné envie de continuer dans le monde du web.
                            Actuellement en école d'ingénieur, j'ai intégré, par le biais de l'apprentissage,
                            l'entreprise <a href="http://www.kernix.com">Kernix Software</a>, spécialisée dans le développement d'applications
                            web multi-canal.
                        </p>
                        <p>
                            Passionné par le high tech, j'effectue beaucoup de veille technologique, notamment via
                            <a href="https://twitter.com/Pyrech">Twitter</a>. Je découvre chaque jour de nouvelles notions, de
                            nouvelles pratiques concernant principalement le développement front-end et back-end.
                        </p>
                        <p>
                            Récemment, je suis passé d'un hébergement mutualisé chez OVH à un serveur dédié chez
                            <a href="http://www.online.net">Online.net</a>. Je n'avais aucun besoin de performance, mais cela m'a permis de compléter
                            mon bagage de connaissances en y ajoutant l'installation et l'administration d'un serveur dédié.
                        </p>
                    </div>
                </section>
                <section class="mod site-block presentation">
                    <header class="block-header">
                        <h1 class="title">A propos du site</h1>
                    </header>
                    <div class="block-content">
                        <p>
                            Ce tout nouveau site (mai 2013) est hébergé sur mon serveur dédié chez <a href="http://www.online.net">Online.net</a>.
                            Le nom de domaine est également enregistré chez Online.
                        </p>
                        <p>
                            J'ai procédé à une refonte graphique de ce site durant l'été 2013 avec un tout nouveau design inspiré de la tendance "flat".
                            Au niveau front-end, j'ai utilisé l'excellent framework CSS <a href="http://www.knacss.com">knacss</a> de
                            <a href="http://www.goetter.fr">Raphaël Goetter</a> qui propose un reset CSS ainsi qu'une très bonne base pour un
                            site responsive. Le design, découpé en bloc, est inspiré de diverses maquettes de "flat design" que l'on peut trouver sur
                            internet.
                        </p>
                        <p>
                            Du côté serveur, le site repose désormais sur <a href="http://silex.sensiolabs.org">Silex</a> (un mini-framework PHP construit
                            au-dessus des composants Symfony) associé au moteur de template <a href="http://twig.sensiolabs.org/">Twig</a>.
                        </p>
                        <p>
                            Un petit easter egg s'est glissé sur la page d'accueil de ce site. Saurez-vous le retrouver ? :)
                        </p>
                    </div>
                </section>
            </div>
{% endblock %}