{% extends "layout.html" %}

{% block content -%}
            <div class="line">
                <div class="mod">
                    <section class="site-block presentation">
                        <header class="block-header">
                            <h1 class="title">Contact</h1>
                        </header>
                        <div class="block-content">
                            {{ include('contact-form.html') }}
                        </div>
                    </section>
                </div>
            </div>
{% endblock %}
