{% extends "layout.html" %}

{% block content -%}
            <div class="line">
                <div class="mod">
                    <section class="site-block presentation">
                        <header class="block-header">
                            <h1 class="title">Contact</h1>
                        </header>
                        <div class="block-content">
                            <form action="{{ path('contact') }}" method="POST">
                                <input type="hidden" name="form-contact" value="" />
                                <p>
                                    Vous souhaitez me contacter pour en savoir plus sur moi ? Sur une de mes réalisations ? Ou une tout autre raison ?
                                    Utilisez le formulaire ci-dessous :
                                </p>
                                <div class="grid2 line">
                                    <div class="mod{{ submitted and errors.name is defined ? ' error-box' : '' }}">
                                        <label for="contact-name">Nom *</label>
                                        <input id="contact-name" type="text" name="form[name]" value="{{ sent ? '' : form['name'] }}" />
                                        {%- if submitted and errors.name is defined -%}
                                        <p class="error">Le nom est obligatoire</p>
                                        {%- endif -%}
                                    </div>
                                    <div class="mod{{ submitted and errors.email is defined ? ' error-box' : '' }}">
                                        <label for="contact-email">Email *</label>
                                        <input id="contact-email" type="email" name="form[email]" value="{{ sent ? '' : form.email }}" />
                                        {%- if submitted and errors.email is defined -%}
                                        <p class="error">L'email doit être valide</p>
                                        {%- endif -%}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="grid2 line">
                                    <div class="mod{{ submitted and errors.subject is defined ? ' error-box' : '' }}">
                                        <label for="contact-subject">Sujet *</label>
                                        <input id="contact-subject" type="text" name="form[subject]" value="{{ sent ? '' : form.subject }}" />
                                        {%- if submitted and errors.subject is defined -%}
                                        <p class="error">Le sujet est obligatoire</p>
                                        {%- endif -%}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="line">
                                    <div class="mod message{{ submitted and errors.message is defined ? ' error-box' : '' }}">
                                        <label for="contact-message">Message *</label>
                                        <textarea id="contact-message" name="form[message]">{{ sent ? '' : form.message }}</textarea>
                                        {%- if submitted and errors.message is defined -%}
                                        <p class="error">Le message est obligatoire</p>
                                        {%- endif -%}
                                        {%- if sent -%}
                                        <p class="success">Le message a bien été envoyé.</p>
                                        {%- endif -%}
                                    </div>
                                </div>
                                <p class="line txtcenter">
                                    <button type="submit" class="btn">Envoyer</button>
                                </p>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
{% endblock %}