{% extends "layout.html" %}

{% block content -%}
        <section>
            <div class="section-title">
                <h2>A propos de moi</h2>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </div>
            <div class="section-content">
                <p>
                    Développeur web depuis 2011, actuellement en poste chez
                    <a class="jolicode" href="http://jolicode.com"><img src="{{ asset('/resources/images/jolicode.svg') }}" alt="JoliCode" /></a>.
                </p>
                <p>
                    Amateur d'Open Source et de veille technologique.
                </p>
            </div>
        </section>

        <section class="skills">
            <div class="section-title">
                <h2>Ce que je sais faire</h2>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </div>
            <div class="section-content">
                <ul>
                    <li class="php">
                        <img class="picto" src="{{ asset('/resources/images/skill-php.png') }}" alt="PHP" />
                        <span class="label">PHP</span>
                    </li>
                    <li class="symfony">
                        <img class="picto" src="{{ asset('/resources/images/skill-symfony.png') }}" alt="Symfony" />
                        <span class="label">Symfony</span>
                    </li>
                    <li class="javascript">
                        <img class="picto" src="{{ asset('/resources/images/skill-javascript.png') }}" alt="JavaScript" />
                        <span class="label">JavaScript</span>
                    </li>
                    <li class="git">
                        <img class="picto" src="{{ asset('/resources/images/skill-git.png') }}" alt="GIT" />
                        <span class="label">GIT</span>
                    </li>
                    <li class="linux">
                        <img class="picto" src="{{ asset('/resources/images/skill-linux.png') }}" alt="Linux" />
                        <span class="label">Linux</span>
                    </li>
                    <li class="mysql">
                        <img class="picto" src="{{ asset('/resources/images/skill-mysql.png') }}" alt="MySQL" />
                        <span class="label">MySQL</span>
                    </li>
                    <li class="html">
                        <img class="picto" src="{{ asset('/resources/images/skill-html.png') }}" alt="HTML5" />
                        <span class="label">HTML5</span>
                    </li>
                    <li class="css">
                        <img class="picto" src="{{ asset('/resources/images/skill-css.png') }}" alt="CSS3" />
                        <span class="label">CSS3</span>
                    </li>
                </ul>
            </div>

        </section>

        <section>
            <div class="section-title">
                <h2>Pour me suivre ou me faire coucou</h2>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </div>
            <div class="section-content">
                <ul>
                    <li class="twitter">
                        <a href="https://twitter.com/pyrech">
                            <img class="picto" src="{{ asset('/resources/images/social-twitter.png') }}" alt="Twitter" />
                            <span class="label">Twitter</span>
                        </a>
                    </li>
                    <li class="github">
                        <a href="https://github.com/pyrech">
                            <img class="picto" src="{{ asset('/resources/images/social-github.png') }}" alt="GitHub" />
                            <span class="label">GitHub</span>
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="http://fr.linkedin.com/in/loickpiera">
                            <img class="picto" src="{{ asset('/resources/images/social-linkedin.png') }}" alt="LinkedIn" />
                            <span class="label">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section>
            <div class="section-title">
                <h2>... ou m'envoyer un message :</h2>
                <span class="bubble"></span>
                <span class="bubble"></span>
                <span class="bubble"></span>
            </div>
            <div class="section-content">
                {{ include('contact-form.html', {'submitted': false, 'sent': false}) }}
            </div>
        </section>

        {#
            <div class="grid3 line">
                <div class="mod multi-block">
                    <section class="site-block presentation">
                        <header class="block-header">
                            <h1 class="title">{{ greet }} et bienvenue sur mon site</h1>
                        </header>
                        <div class="block-content">
                            <p>
                                Ce site, en responsive design, me permet de vous présenter <a href="#skills">mes compétences</a>,
                                <a href="#soft">les logiciels et frameworks</a> que j'utilise réguilèrement, <a href="{{ path('realisations') }}">mes réalisations</a>
                                et vous offre un moyen de me <a href="{{ path('contact') }}">contacter</a> si vous le désirez.
                            </p>
                            <p class="txtcenter">
                                <a class="btn" href="{{ path('about') }}">En savoir +</a>
                            </p>
                        </div>
                    </section>
                    <section class="site-block social">
                        <header class="block-header">
                            <h1 class="title">Retrouvez-moi sur</h1>
                        </header>
                        <div class="block-content">
                            <ul>
                                <li class="twitter">
                                    <a href="https://twitter.com/pyrech">
                                        <img class="picto" src="{{ asset('/resources/images/social-twitter.png') }}" alt="Twitter" />
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                                <li class="github">
                                    <a href="https://github.com/pyrech">
                                        <img class="picto" src="{{ asset('/resources/images/social-github.png') }}" alt="GitHub" />
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="http://fr.linkedin.com/in/loickpiera">
                                        <img class="picto" src="{{ asset('/resources/images/social-linkedin.png') }}" alt="LinkedIn" />
                                        <span class="label">LinkedIn</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <section class="mod site-block skills" id="skills">
                    <header class="block-header">
                        <h1 class="title">Compétences</h1>
                    </header>
                    <div class="block-content">
                        <ul>
                            <li class="php">
                                <div class="tile front">
                                    <span>PHP</span>
                                </div>
                            </li>
                            <li class="java">
                                <div class="tile front">
                                    <span>Java</span>
                                </div>
                            </li>
                            <li class="linux">
                                <div class="tile front">
                                    <span>Linux</span>
                                </div>
                            </li>
                            <li class="mysql">
                                <div class="tile front">
                                    <span>MySQL</span>
                                </div>
                            </li>
                            <li class="html">
                                <div class="tile front">
                                    <span>xHTML / HTML5</span>
                                </div>
                            </li>
                            <li class="git">
                                <div class="tile front">
                                    <span>GIT</span>
                                </div>
                            </li>
                            <li class="css">
                                <div class="tile front">
                                    <span>CSS2 / CSS3</span>
                                </div>
                            </li>
                            <li class="js">
                                <div class="tile front">
                                    <span>JavaScript</span>
                                </div>
                            </li>
                            <li class="seo">
                                <div class="tile front">
                                    <span>SEO</span>
                                </div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </section>
                <div class="mod multi-block">
                    <section class="site-block soft" id="soft">
                        <header class="block-header">
                            <h1 class="title">Frameworks / logiciels</h1>
                        </header>
                        <div class="block-content">
                            <ul>
                                <li>Symfony 2</li>
                                <li>KWO</li>
                                <li>WordPress</li>
                                <li>Prototype JS</li>
                                <li>Apache 2</li>
                            </ul>
                        </div>
                    </section>
                    <section class="site-block realisations" id="realisations">
                        <header class="block-header">
                            <h1 class="title">Réalisations</h1>
                        </header>
                        <div class="block-content">
                            <ul>
                                <li>Tydoma</li>
                                <li>PixelDraw</li>
                                <li>Layout PHP</li>
                            </ul>
                            <p class="txtcenter">
                                <a class="btn" href="{{ path('realisations') }}">Voir mes réalisations</a>
                            </p>
                        </div>
                    </section>
                </div>
            </div>
            #}
{% endblock %}
